@import url('https://fonts.googleapis.com/css?family=Oswald:400,500,600,700');

:root {
  --main-dark-color: #1c2b42;
  --main-light-color: #c4c5c8;
  --main-contrast-color: #ffaa01;
  --main-contrast-opacity-color: rgba(255, 170, 1, 0.5);
  --sec-dark-color: #777e8e;
  --sec-contrast-color: #fb5601;
  --main-tx-hover: white;
  --main-bg-hover: #2c2f33;
}

body {
  background-color: var(--main-light-color);

}

/* Set padding to keep content from hitting the edges */
.body-content {
  padding: 50px 15px 100px 15px;
  position: relative;
  min-height: calc(100vh - 150px);
  height: auto;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
  max-width: 280px;
}
