<div class="showing-card">
  <div class="image position-relative">
    <img class="img-fluid bg-light" src="{{showing.movie.pictureUrl}}" />
  </div>

  <div class="showing-datetime-bar d-flex">
    <div class="showing-day">
      <i class="fas fa-calendar-alt"></i>
      <span>
        {{showing.showingDateTime | date:'dd/MM'}}
      </span>
    </div>
    <div class="showing-hour">
      <i class="fas fa-clock"></i>
      <span>
        {{showing.showingDateTime | date: 'HH:mm'}}
      </span>
    </div>
  </div>
  <div class="showing-title">
    <h6>{{showing.movie.title}}</h6>
  </div>
  <div class="showing-genres" >
    <ul >
      <li *ngFor="let genre of showing.movie.genres">{{genre}}</li>
    </ul>
  </div>
</div>
