<section class="carousel-container" >
  <carousel>
    <slide>
      <img src="../../../assets/images/slide1.jpg" alt="Lewiatan" class="d-block w-100">
      <div class="carousel-caption d-block">
        <div class="carousel-text">
          <h3>Dziś</h3>
          <h4>Tytul</h4>
          <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
        </div>
        </div>
</slide>
    <slide>
      <img src="../../../assets/images/slide2.jpg" alt="zielona mila" class="d-block w-100" />
      <div class="carousel-caption d-block">
        <div class="carousel-text">
          <h3 >Jutro</h3>
          <h4>Tytul</h4>
          <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
        </div>
        </div>
    </slide>
    <slide>
      <img src="../../../assets/images/slide3.jpg" alt="zielona mila" class="d-block w-100" />
      <div class="carousel-caption d-block">
        <div class="carousel-text">
          <h3>Pojutrze</h3>
          <h4>Tytul</h4>
          <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
        </div>
        </div>
</slide>
  </carousel>
</section>
