<section class="carousel-container" >
  <carousel>
    <slide *ngIf="todayShowing">
      <img src="../../../assets/images/slide1.jpg" alt="{{todayShowing.movie.title}}" class="d-block w-100">
      <div class="carousel-caption d-block">
        <div class="carousel-text">
          <h3>Dziś</h3>
          <h4>{{todayShowing.movie.title}}</h4>
        </div>
      </div>
    </slide>
    <slide *ngIf="tommorowShowing">
      <img src="../../../assets/images/slide3.jpg" alt="{{tommorowShowing.movie.title}}" class="d-block w-100">
      <div class="carousel-caption d-block">
        <div class="carousel-text">
          <h3>Jutro</h3>
          <h4>{{tommorowShowing.movie.title}}</h4>
        </div>
      </div>
    </slide>

  </carousel>
</section>
