.carousel-container {
  width: 100%;
  height: 400px;
  margin: auto;
}

  .carousel-container img {
    object-fit: cover;
    height: calc(100vh - 176px);
  }
.carousel-caption {
top: 0px;
padding: 0;
height: 100%;
width: 200px;
}

.carousel-text {
  text-align: left;
  background-color: var(--main-contrast-opacity-color);
  
  padding: 10px;
  height: inherit;
}
.carousel-caption h3 {
  color: var(--main-dark-color);
  text-transform: uppercase;
  font-family: Oswald;
}

